*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *{
    font-family: 'Roboto', sans-serif;

}

body{
    background: linear-gradient(150deg, #0F2B05, #000);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

header{
    padding: 75px;
    color: #f7dd43;
}

header h1{
    margin: 20px 0;
    font-weight: bold;
}

header h3{
    color: white;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 50px
}

@media (max-width: 820px) {
    body{
    height: 100%;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

}

.card{
    display: inline-block;
    width: 304px;
    height: 508px;
    background: url("./assets/bg-blue.svg");
    cursor: pointer;
    
    opacity: 0;
    transform: translateY(-100px);
    animation: appear 0.5s forwards;
}
.content{
    margin-top: 15px;
    display: inline-block;
    /* background-color: rgba(255, 0, 0, 0.229); */
    width: 266px;
    height: 424px;
}

.profileForm{
    width: 230px;
    margin: 0 auto;
}

.inputs{
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.334)!important;
}
.inputs::placeholder {
    color: white;
}

.selecao{
    display: flex;
    height: 130px;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.skillSelection{
    text-align: left;
    color:white;
    margin: 0 !important;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 12px 20px;
    width: 226px;
}
#fifalogo{
    width: 35px;
    height: auto;
}


.skillsRow{
    width: 270px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: flex-end;
}

.iSkills{
    width: 20px;
    height: 20px;
}

.perfil{
    margin-top: 34px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f7dd43;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nacional{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 60px 20px 0px 143px;
}

.nacional h3{
    color: #f7dd43;
    font-size: .8rem;
}

.nacional img{
    width: 25px;
}

.info {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    color: white;
}

.info h1{
    font-size: 18px;
    line-height: 140%;
}

.info p{
    font-size: 14px;
    line-height: 160%;
}

@keyframes appear {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
